.mainContext {
    border-bottom: solid 1px #BDBDBD;
    border-left: solid 1px #BDBDBD;
    border-right: solid 1px #BDBDBD;
    width: 100%;
    height: 100%;
    background-color: #FFFCEC;
    margin: 0;
    padding: 0;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

/*左侧主体*/
.leftContext{
float: left;
width: 40%;
height:100%;
}

/*右侧主体*/
.rightContext{
float: right;
width: 60%;
height:100%;
}